.mugshot{
  width:25%;
  height:25%
}

.about_font{
  color:red;
  font-size: xx-large;
  font-weight: bolder;
}

@media screen and (max-width: 530px) {
  .about_font{
    color:red;
    font-size:large;
    font-weight: bolder;
  }
}