:root{
    --txt_color1:white;
    --bg_color1:#71cc43;
    --bg_colorM:grey;
    --bg_colorF:rgb(141, 14, 120);
    --jump_color1:black;
}

* {
    font-family: 'Open Sans', 'Merriweather', 'Montserrat', 'Georgia', sans-serif;
}

body{
    min-height: 100vh;
}

h1{
    font-size:200%;
}
/* just thought of it, but if this code needs any changes and I'm unable to figure it out,
try changed h1 to absolute, and code from there. For now, it works if no further change
is needed */
header {
    display: flex;
    background-color: var(--bg_color1);
    padding:1% 2%;
}

footer {
    padding-bottom: 100px;
    background-color: var(--bg_colorF) ;
}
/* just changed bg color to variable instead of placeholder */
main {
    padding: 2%;
    background-color: var(--bg_colorM);
}

nav ul {
    display:flex;
    margin-right: 20px;
}


nav li {
    display: flex;
    color:black;
    flex-shrink: 0;
    padding: 1.5%;
    min-width: max-content;
    text-decoration: underline;
    cursor:pointer;
    font-size:large;
}

nav li:hover {
    font-size: 120%;
    font-weight: bolder;
}


.aside_properties {
    height: 200px;
}

/* this makes it so the jumps doesn't change the color */
.jump_button:visited{
    color: var(--jump_color1);
}


#aside_aligning{
    max-width: 25%;
}

/* changing the photo sizes */
/*#boss_cat{
    display:flex;
    max-width:55%;
    position:relative;
    left:5%;
}*/
#work_anchor1{
    display:flex;
}
#boss_cat{
    max-width:100%;
}
/* end testing */
#cat4{
    display: flex;
    flex: 0 0 0;
    position:relative;
    max-width: 40%;
}

#cat3{
    display: flex;
    flex: 0 0 0;
    position:relative;
    max-width:30%;
}

/* the contacts selectors only positions the text. Others haven't been done yet */
#contacts {
    display:flex;
    padding:1%;
    justify-content: center;
}

#contacts h2 {
    position: absolute;
}

#contact_info {
    position: relative;
    top:20px;
}

/* positioning the titles */ 
#first_app {
    position:absolute;

}
#second_app {
    position: absolute;

}
#third_app {
    position: absolute;
}

#header {
    flex: 1 1 0;
}

#img_sec {
    background: rgb(51,170,52);
    background: linear-gradient(90deg, rgba(51,170,52,1) 8%, rgba(120,40,108,1) 47%, rgba(99,93,99,1) 80%);
}
/* this along with aside aligning allows for the split view of work + the 3 other topics 
Not sure if this is the best way vs position relative, let's give this a try first */
#main_aligning{
    display:flex;
}

#mugshot {
    max-width: 180px;
    height: 210px;
    display:inline;
    position:relative;
    left:43%;
    padding:10px;
}

#section_aligning{
    display:flex;
    position:relative;
    width:75%;
    flex-wrap: wrap;
}


/* still need to add responsive layout, just put the aside stuff to the bottom after */
@media screen and (max-width: 900px) {
    #mugshot{
        left:40%;
    }
    #img_sec {
        background: rgb(51,170,52);
        background: linear-gradient(90deg, rgba(51,170,52,1) 8%, rgba(120,40,108,1) 50%, rgba(99,93,99,1) 80%);
    }
    #main_aligning{
        display:flex;
        flex-direction: column;
    }
    #section_aligning{
        width:100%;
    }
}
/* the picture wouldn't stay in the center for some reason, so it's adjusted like this */
@media screen and (max-width: 650px) {
    #mugshot{
        left:35%;
    }
    #img_sec {
        background: rgb(51,170,52);
    background: linear-gradient(90deg, rgba(51,170,52,1) 8%, rgba(120,40,108,1) 54%, rgba(99,93,99,1) 80%);
    }
}
